/* src/app/home/home.component.css */

.container {
  max-width: 600px;
  background-color: #d9de9d;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.profile-picture {
  max-width: 100%;
  border-radius: 8px;
  height: auto;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #cd5088;
}
